/* for testing - remove in live */
.slider-multi ul li span {
  color: #fff;
  position: absolute;
  top: 0;
}
/* /for testing - remove in live */

.slider-multi {
  margin: 0 0 30px 0;
}
.slider-multi * {
  box-sizing: border-box;
}
.slider-multi ul,
.slider-multi ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.slider-multi ul li {
  background: no-repeat 50% 50%;
  background-size: auto 100%;
  height: 492px;
  overflow: hidden;
  position: relative;
  width: 700px;
}
@media screen and (min-width: 1800px) {
  .slider-multi ul li {
    background: no-repeat 50% 50%;
    background-size: auto 100%;
    height: 650px;
    overflow: hidden;
    position: relative;
    width: 735px;
  }
}
.slider-multi ul li.slide-align-left {
  background-position: 0 50%;
  margin: 0 8px 0 0;
}
.slider-multi ul li.slide-align-right {
  background-position: 100% 50%;
  margin: 0 0 0 8px;
}
.slider-multi ul li.slide-current {
  margin: 0;
}

/* slider content */
.slider-multi ul li .content {
  display: none;

  text-align: center;
  padding: 20px;
  background: #383838ab;
}
.slider-multi ul li.slide-current .content {
  display: block;
}
.slider-multi ul li .content .logo {
  display: block;
  margin: 0 auto 113px auto;
}
.slider-multi ul li .content .more-info {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  text-decoration: underline;
  line-height: 1em;
  padding: 6px 8px;
  text-decoration: none;
  text-transform: uppercase;
}
.slider-multi ul li .content .more-info:hover {
}

/*****************************************
 shrink styles for window widths < 600px
 *****************************************/
.slider-multi.shrink ul li {
  height: 266px;
  width: 300px;
}
.slider-multi.shrink ul li .content {
  top: 100px;
}

/* In the absence of actual logos, I've left the logo widths and heights for you to set */
.slider-multi.shrink ul li .content .logo {
  margin: 0 auto 50px auto;
}

.slider-multi.shrink ul li .content .more-info {
  font-size: 11px;
  padding: 4px 6px;
}

/* pagination */
.slider-multi .pagination {
  background: url(../images/sappleIcon/stroke.png) no-repeat 50%;
  display: block;
  height: 53px;
  margin: -10px auto 0 auto;
  position: relative;
  width: 106px;
  z-index: 100;
}
.slider-multi .pagination a {
  background: no-repeat 50%;
  position: absolute;
  height: 16px;
  overflow: hidden;
  text-indent: -999px;
  top: 18px;
  width: 10px;
}
.slider-multi .pagination a.next {
  background-image: url(../images/sappleIcon/arrow-next.png);
  right: 0;
}
.slider-multi .pagination a.prev {
  background-image: url(../images/sappleIcon/arrow-prev.png);
  left: 0;
}
.slider-multi .pagination .counter {
  display: block;
  overflow: hidden;
  text-indent: -999px;
}
.slider-multi .pagination .counter em {
  color: #fff;
  font-size: 28px;
  font-style: italic;
  line-height: 1em;
  position: absolute;
  text-indent: 0;
}
.slider-multi .pagination .counter .current {
  left: 31px !important;
  top: 0px;
  font-family: BauerBodoniStd-Roman;
  font-size: 30px;
  font-style: italic;
}
.slider-multi .pagination .counter .total {
  right: 31px;
  bottom: 0px;
  font-family: BauerBodoniStd-Roman;
  font-size: 30px;
  font-style: italic;
}

.slider-multi .content span {
  position: relative !important;
}

.slider-multi .content span.project-name {
  font-size: 30px;
}
